.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 1.5rem;
  gap:0.5rem;
  display: flex;
    justify-content: center;
    height: 112px;
  flex-direction: column;
  align-items: flex-start;
  
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;

}
.dataRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dataRow:hover{
  flex-direction: row-reverse;
}