.sectionTitle {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.text {
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
}

.time {
  color: #888;
  font-size: 0.9rem;
}