.card {
  background: var(--tab-bg-color);
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Inter, sans-serif;
  /* max-width: 900px; */
}

.heading {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow th {
  color: #888;
  font-weight: 500;
  text-align: left;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e5e5e5;
}

.bodyRow td {
  padding: 0.75rem 0;
  border-bottom: 1px solid #e5e5e5;
}